automation-server-client @ git+https://github.com/odense-rpa/automation-server-client.git@v0.2.0
mbu_solteqtand_shared_components>=1.1.0
mbu_msoffice_integration>=1.0.1
mbu-rpa-core
mbu-process-dashboard-shared-components
ruff
pillow
pandas
psutil
sqlalchemy>=2.0.20
sqlalchemy[asyncio]>=2.0.20
pywin32>=306
